.pageFrame{
   width:804px;
   margin:0 auto;
}
.banner{
	background-color:	#d2c8bd;
	height:				5em;
}
#mainContent{
	font-family:			helvetica;
}
h3 {
  color:  #6DA046;
	border-bottom:	medium solid #3F401E;
}


