.pageFrame{
   width:		804px;
   margin:	0 auto;
}
img{
	border-top-left-radius:		1em;
	border-top-right-radius:	1em;
}
.banner{
	background-color:	#d2c8bd;
	height:						5em;
}
#mainContent{
	font-family:		helvetica;
	width:					95%;
  margin:					0 auto;
}
h3 {
  color: 					#69863E;
	border-bottom:	medium solid #3F401E;
}


